{% extends 'base_form.html' %}


{% block title %}
    ثبت نام
{% endblock %}


{% block content %}


    <body>
    <!----- Start sign up box ----->
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-7 col-xl-6 col-md-9 register">

                <div class="card my-5">

                    <div class="card-body">
                        <h5 class="shadow-sm text-center mb-4 py-3"> عضویت در سایت </h5>

                        <form method="post">
                            {% csrf_token %}


                            {% if form.errors %}
                                <div class="alert alert-danger text-center">
                                    لطفا خطا ها را برطرف کنید
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for=""> ایمیل : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend mb-2">
                                        <span class="input-group-text  my-icon">
                                            <i class="fa fa-envelope align-middle"></i>
                                        </span>
                                    </div>

                                    {{ form.email }}
                                    {% for error in form.email.errors %}
                                        <div style="font-size: 0.75rem" class="col-12 txt text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""> شماره تلفن : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend mb-2">
                                        <span class="input-group-text my-icon">
                                            <i class="fa fa-phone align-middle"></i></span>
                                    </div>
                                    {{ form.phone }}
                                    {% for error in form.phone.errors %}
                                        <div style="font-size: 0.75rem" class="col-12 txt text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>


                            <div class="form-group">
                                <label for=""> رمز عبور : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend mb-2">
                                        <span class="input-group-text  my-icon">
                                            <i class="fa fa-lock align-middle"></i>
                                        </span>
                                    </div>
                                    {{ form.password }}
                                    {% for error in form.password.errors %}
                                        <div style="font-size: 0.75rem" class="col-12 txt text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="form-group">
                                <label for=""> تکرار رمز عبور: </label>
                                <div class="input-group">
                                    <div class="input-group-prepend mb-2">
                                    <span class="input-group-text  my-icon"> <i
                                            class="fa fa-lock align-middle"></i></span>
                                    </div>

                                    {{ form.password2 }}
                                    {% for error in form.password2.errors %}
                                        <div style="font-size: 0.75rem" class="col-12 txt text-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <button type="submit"
                                    class="btn btn-primary btn-block rounded-pill custom-btn font-13 mt-4">ثبت
                                نام
                            </button>

                            <p class="text-center my-3 font-12 vazir">قبلا در سایت ثبت نام کرده اید ؟
                                <a href="{% url 'account:login' %}" class="login vazir">
                                    وارد شوید
                                </a>
                            </p>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!----- End sign up box ----->
{% endblock %}